.App {
    text-align: center;
    border: 2px solid green;
}

.App-header {
    background-color: #ffd7d7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #4e5166;
}

.Form {
    background-color: #fff;
    width: 50%;
    height: 500px;
    display: flex;
    border-radius: 15px;
    box-shadow: 1px 1px 7px 1px;
}

.firstHalf {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid red;
    border-radius: 15px 0px 0px 15px;
    padding-top: 10px;
}

.logo {
    margin-bottom: 10px;
    height: 50%;
}

.signUpBtn,
a {
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #4e5166;
}

.secondHalf {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid red;
    border-radius: 0px 15px 15px 0px;
    padding-top: 10px;
}

.signInTitle {
    display: flex;
    color: #4e5166;
    font-size: 18px;
    margin: 0 0 8px 0;
}

.login {
    text-align: center;
}

.login .formBox {
    margin-bottom: 10px;
}

.login .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
}

.btn,
.btnPrimary {
    background: #f0ad4e none repeat scroll 0 0;
    border-color: #f0ad4e;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}
